@media screen and (max-width: 480px)/*voor smartphone*/{
	#wrapper{
		width: 100%;
		margin: 0 auto;
	}
	nav{
	height: auto;
	line-height: 3rem;
	margin: 0 auto;
	width: 100%;
	display: block;
	background-color: black;
	}
	nav ul{}
	nav ul li{
	display: block;
	margin-left: 1rem;
	text-align: center;
	border-bottom: 1px solid yellow;
	}
	nav ul li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 1rem;
	}
	
	.logo{
	height: 150px;
	margin: 20px auto;
	width: 100%;
	display: block;
	background-color: black;
	text-align: center;
	border-bottom: 1px solid yellow;
	}
	header{
	height: auto;
	width: 100%;
	display: block;
	background-image:url("header.png");
	background-size:auto;
	
	}
	header h1{
	font-family: 'Bebas Neue', cursive;
	color: white;
	font-size: 2.5rem;
	padding-top: 35px;
	}
	header button{
	border: 1px solid yellow;
	background-color: transparent;
	padding:5px 1.25rem;
	margin-top: 10px;
	}
	header button a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 0.875rem;
	}
	
	section{
		padding: 50px 5%;
		height: auto;
		width: 90%;
		background-color: black;
		display: block;
		color: white;
		text-align: center;
	}
	main{
		width: 100%;
		display: block;
		float: none;
		margin-right: 10%;
		border-bottom: 1px solid yellow;
	}
	aside{
		margin-top: 50px;
		width: 100%;
		display: block;
		float: none;
		text-align: center;
	}
	
}
